Kev.IM.Client/Kev.IM.Client/bin/Debug/Kev.IM.Client.exe
Kev.IM.Client/Kev.IM.Client/bin/Debug/Kev.IM.Client.exe.config
Kev.IM.Client/Kev.IM.Client/bin/Debug/Kev.IM.Client.pdb
Kev.IM.Client/Kev.IM.Client/bin/Debug/Kev.IM.Client.vshost.exe
Kev.IM.Client/Kev.IM.Client/bin/Debug/Kev.IM.Client.vshost.exe.config
Kev.IM.Client/Kev.IM.Client/bin/Debug/Kev.IM.dll
Kev.IM.Client/Kev.IM.Client/bin/Debug/Kev.IM.pdb
Kev.IM.Client/Kev.IM.Client/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Kev.IM.Client/Kev.IM.Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Kev.IM.Client/Kev.IM.Client/obj/Debug/Kev.IM.Client.csproj.FileListAbsolute.txt
Kev.IM.Client/Kev.IM.Client/obj/Debug/Kev.IM.Client.csproj.GenerateResource.Cache
Kev.IM.Client/Kev.IM.Client/obj/Debug/Kev.IM.Client.csprojResolveAssemblyReference.cache
Kev.IM.Client/Kev.IM.Client/obj/Debug/Kev.IM.Client.exe
Kev.IM.Client/Kev.IM.Client/obj/Debug/Kev.IM.Client.HomeForm.resources
Kev.IM.Client/Kev.IM.Client/obj/Debug/Kev.IM.Client.HomeForm.resources
Kev.IM.Client/Kev.IM.Client/obj/Debug/Kev.IM.Client.MainForm.resources
Kev.IM.Client/Kev.IM.Client/obj/Debug/Kev.IM.Client.pdb
Kev.IM.Client/Kev.IM.Client/obj/Debug/Kev.IM.Client.Properties.Resources.resources
Kev.IM.Client/Kev.IM.Client/obj/Debug/Kev.IM.Client.UserFriendItemUserControl.resources
Kev.IM.Client/Kev.IM.Client/obj/Debug/Kev.IM.Client.UserFriendsListViewUserControl.resources
Kev.IM.Client/Kev.IM.Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Kev.IM.Client/Kev.IM.Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Kev.IM.Client/Kev.IM.Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Kev.IM.Server/Kev.IM.Service/bin/Debug/Kev.IM.dll
Kev.IM.Server/Kev.IM.Service/bin/Debug/Kev.IM.pdb
Kev.IM.Server/Kev.IM.Service/bin/Debug/Kev.IM.Service.exe
Kev.IM.Server/Kev.IM.Service/bin/Debug/Kev.IM.Service.exe.config
Kev.IM.Server/Kev.IM.Service/bin/Debug/Kev.IM.Service.pdb
Kev.IM.Server/Kev.IM.Service/bin/Debug/Kev.IM.Service.vshost.exe
Kev.IM.Server/Kev.IM.Service/bin/Debug/Kev.IM.Service.vshost.exe.config
Kev.IM.Server/Kev.IM.Service/bin/Debug/Kev.IM.Service.vshost.exe.manifest
Kev.IM.Server/Kev.IM.Service/bin/Debug/Kev.IM.vshost.exe.config
Kev.IM.Server/Kev.IM.Service/bin/Debug/Kev.MessagePush.vshost.exe.config
Kev.IM.Server/Kev.IM.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Kev.IM.Server/Kev.IM.Service/obj/Debug/Kev.IM.Service.csproj.FileListAbsolute.txt
Kev.IM.Server/Kev.IM.Service/obj/Debug/Kev.IM.Service.csprojResolveAssemblyReference.cache
Kev.IM.Server/Kev.IM.Service/obj/Debug/Kev.IM.Service.exe
Kev.IM.Server/Kev.IM.Service/obj/Debug/Kev.IM.Service.pdb
Kev.IM.Server/Kev.IM.Service/obj/Debug/Kev.MessagePush.csproj.FileListAbsolute.txt
Kev.IM.Server/Kev.IM.Service/obj/Debug/Kev.MessagePush.csprojResolveAssemblyReference.cache
Kev.IM.Server/Kev.IM.Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Kev.IM.Server/Kev.IM.Service/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Kev.IM.Server/Kev.IM.Service/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Kev.IM.Server/Kev.IM.User/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Kev.IM.Server/Kev.IM.User/obj/Debug/Kev.IM.User.csproj.FileListAbsolute.txt
Kev.IM.Server/Kev.IM.User/obj/Debug/Kev.IM.User.csprojResolveAssemblyReference.cache
Kev.IM.Server/Kev.IM.User/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Kev.IM.Server/Kev.IM.User/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Kev.IM.Server/Kev.IM.User/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Kev.IM.SocketTools/bin/Debug/Kev.IM.dll
Kev.IM.SocketTools/bin/Debug/Kev.IM.pdb
Kev.IM.SocketTools/bin/Debug/Kev.MessagePush.SocketTools.dll
Kev.IM.SocketTools/bin/Debug/Kev.MessagePush.SocketTools.pdb
Kev.IM.SocketTools/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Kev.IM.SocketTools/obj/Debug/Kev.IM.dll
Kev.IM.SocketTools/obj/Debug/Kev.IM.pdb
Kev.IM.SocketTools/obj/Debug/Kev.IM.SocketTools.csproj.FileListAbsolute.txt
Kev.IM.SocketTools/obj/Debug/Kev.IM.SocketTools.csprojResolveAssemblyReference.cache
Kev.IM.SocketTools/obj/Debug/Kev.MessagePush.SocketTools.csproj.FileListAbsolute.txt
Kev.IM.SocketTools/obj/Debug/Kev.MessagePush.SocketTools.csprojResolveAssemblyReference.cache
Kev.IM.SocketTools/obj/Debug/Kev.MessagePush.SocketTools.dll
Kev.IM.SocketTools/obj/Debug/Kev.MessagePush.SocketTools.pdb
Kev.IM.SocketTools/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Kev.IM.SocketTools/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Kev.IM.SocketTools/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs